// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#actionsMessage {
  font-family: "Lucida Console", Monaco, monospace;
  font-size:x-large;
}

.content {
  display: block;  
}

.leftPanel {
  display: inline-block;
  vertical-align:top;
  width: 49%;
}

.rightPanel {
  display: inline-block;
  vertical-align:top;
  width: 49%;
}

/* begin scratchStone */

$icon_width: -34px;
$icon_height: -34px;
$icon_width_buffer: 0px;
$icon_height_buffer: 0px;

.item {
  float: left;
  margin: 0 auto;
}

.item.conditional {
  padding: 5px; 
  background-color: yellow;
  color: green;

  .conditionContainer {
    width: 100%;
    margin: 0 5px 5px 0;
    .item {
      float: center;
    }
  }
  .path {
    float: left;
  }
  .path-true {
    border: 2px solid green;
  }
  .path-false {
    border: 2px solid red;
  }
}

.item.stack {
  padding: 5px; 
  background-color: yellow;
  color: green;

  .path {
    float: left;
    border: 2px solid purple;
  }
}

.item.placeholder {
  width: -$icon_width;
  height: -$icon_height;
  background-color: grey;
  color: grey; 
}

#craftingField {
  width: 100%; 
  height: 100%; 
  padding: 5px; 
  float: left;  
  background-color: green;
}
.flag {
  width: 30px; 
  height: 30px;
  background-color: black;
  padding: 5px; 
}
.flagHolder {
  height: -$icon_height + 25px;
}
.bank {
  width: 150px; 
  min-height: 350px; 
  padding: 5px; 
  float: left;  
  background-color: orange;

  .item:not(.placeholder) {
    margin: 0 10px 10px 0;
  } 
  .item.conditional {

  }
}

.icon {
  width: 0 - $icon_width;
  height: 0 - $icon_height;
  background-image:url('/assets/rpg_texture_pack0.png');
  background-color: blue;
}

.icon.blackberry {background-position: 00 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}
.icon.cherry     {background-position: 01 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}

.icon.acorn      {background-position: 13 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}
.icon.radish     {background-position: 00 * $icon_width + $icon_width_buffer  01 * $icon_height + $icon_height_buffer;}

.icon.run        {background-position: 03 * $icon_width + $icon_width_buffer  26 * $icon_height + $icon_height_buffer;}
.icon.turn       {background-position: 01 * $icon_width + $icon_width_buffer  26 * $icon_height + $icon_height_buffer;}
.icon.attack     {background-position: 00 * $icon_width + $icon_width_buffer  25 * $icon_height + $icon_height_buffer;}
.icon.heal       {background-position: 07 * $icon_width + $icon_width_buffer  22 * $icon_height + $icon_height_buffer;}
.icon.retreat    {background-position: 06 * $icon_width + $icon_width_buffer  22 * $icon_height + $icon_height_buffer;}

/* begin map */

$icon_width: -32px;
$icon_height: -32px;

#map {
  .row {
    height: 0 - $icon_height;

    .tile {
      background-color: pink;
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      width: 0 - $icon_width;
      height: 0 - $icon_height;
      
    }
    .tile.player {
      background-color: grey; 
      background-image:url('/assets/charsheet0.png');
      background-position: 02 * $icon_width + $icon_width_buffer  02 * $icon_height + $icon_height_buffer;
    }
    .tile.thickslime {
      background-image:url('/assets/bigslime.jpg');
    }
    .tile.smallslime {
      background-color: grey;
      background-image:url('/assets/smallslime.png');
    }
    .tile.archer {
      background-color: grey; 
      background-image:url('/assets/archer.png');
    }
    .tile.wizard {
      background-color: grey; 
      background-image:url('/assets/wizard.png');
    }
    .tile.captive {
      background-color: grey; 
      background-image:url('/assets/captive.gif');
    }
    .tile.stairs {
      background-image:url('/assets/stairs-down0.png');
    }

    .tile.wall  { background-color: black; }
    .tile.floor { background-color: grey; }

  }
}