// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#actionsMessage {
  font-family: monospace;
  font-size:x-large;
}

.content {
  display: block;  
  background-color: rgb(138, 110, 98);
}

.panel {

  padding:  50px;
  display: inline-block;
  vertical-align:top;
  width: 40%;

  &.panel-left {

  }

  &.panel-right {
    
  }

}

// == Left Panel ==
#title {
  width: 100%;
  color: #FD705C;
  font-family: fantasy;
  font-size: 3em;
}

#craftingContainer {
  min-height: 250px;
  background-image: none;
  background-color: #9EB1A3;
  width: 100%;

    #craftingField {
    background-image: none;
    background-color: rgba(0,0,0,0);
    display: table;
    margin: 0 auto;
    
  }
}

.actions {
  margin: 0 auto;
  display: table;

  input {
    // color: buttontext;
    padding: 5px;
    border-radius: 10px;
    border-image: none;
    background-color: #FD705C;
  }
}

// == Right Panel ==

.content_panel {
  background-image: url(http://i.imgur.com/VREJ6.png);
  padding: 20px;
  background-color: grey;

  &.text {
    background-image: none;
  }

  &#actionsMessage {
    min-height: 150px;
  }

  &#readMe {

  }

  &#message {

  }
}


/* begin map */

$icon_width: -32px;
$icon_height: -32px;
$icon_width_buffer: 0px;
$icon_height_buffer: 0px;

#map {
  .row {
    height: 0 - $icon_height;

    .tile {
      background-color: pink;
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      width: 0 - $icon_width;
      height: 0 - $icon_height;
      
    }
    .tile.player {
      background-color: grey; 
      background-image:url('/assets/charsheet0.png');
      background-position: 02 * $icon_width + $icon_width_buffer  02 * $icon_height + $icon_height_buffer;
    }
    .tile.thickslime {
      background-image:url('/assets/bigslime.jpg');
    }
    .tile.smallslime {
      background-color: grey;
      background-image:url('/assets/smallslime.png');
    }
    .tile.archer {
      background-color: grey; 
      background-image:url('/assets/archer.png');
    }
    .tile.wizard {
      background-color: grey; 
      background-image:url('/assets/wizard.png');
    }
    .tile.captive {
      background-color: grey; 
      background-image:url('/assets/captive.gif');
    }
    .tile.stairs {
      background-image:url('/assets/stairs-down0.png');
    }

    .tile.wall  { background-color: black; }
    .tile.floor { background-color: grey; }

  }
}


/* begin scratchStone */

$icon_width: -34px;
$icon_height: -34px;
$icon_width_buffer: 0px;
$icon_height_buffer: 0px;

.item {
  float: left;
  margin: 0 auto;
}

.item.conditional {
  border-radius: 10px;
  padding: 10px; 
  background-color: yellow;
  background-image: url(http://superwalrusland.com/ohr/issue26/pa/crack1_b.jpg);
  color: #D8F15E;

  .conditionContainer {
    width: 100%;
    margin: 0 5px 5px 0;
    .item {
      float: center;
    }
  }
  .path {
    float: left;
  }
  .path-true {
    border: 2px solid #D8F15E;
  }
  .path-false {
    border: 2px solid red;
  }
}

.item.stack {
  border-radius: 10px;
  padding: 10px; 
  background-image: url(http://superwalrusland.com/ohr/issue26/pa/crack1_b.jpg);
  color: #D8F15E;

  .path {
    float: left;
    border: 2px solid green;
  }
}

.item.placeholder {
  width: -$icon_width;
  height: -$icon_height;
  background-color: purple;
  color: grey; 
}

.flag {
  width: 30px; 
  height: 30px;
  background-color: black;
  padding: 5px; 
}
.flagHolder {
  height: -$icon_height + 25px;
}
.bank {
  background-image: none;
  background-color: grey;
  width: 100%;
  height: 100px;

  .item:not(.placeholder) {
    margin: 0 10px 10px 0;
  } 
  .item.conditional {

  }
}

.icon {
  width: 0 - $icon_width;
  height: 0 - $icon_height;
  background-image:url('/assets/rpg_texture_pack0.png');
  background-color: blue;
}

.icon.blackberry {background-position: 00 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}
.icon.cherry     {background-position: 01 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}

.icon.acorn      {background-position: 13 * $icon_width + $icon_width_buffer  00 * $icon_height + $icon_height_buffer;}
.icon.radish     {background-position: 00 * $icon_width + $icon_width_buffer  01 * $icon_height + $icon_height_buffer;}

.icon.run        {background-position: 03 * $icon_width + $icon_width_buffer  26 * $icon_height + $icon_height_buffer;}
.icon.turn       {background-position: 01 * $icon_width + $icon_width_buffer  26 * $icon_height + $icon_height_buffer;}
.icon.attack     {background-position: 00 * $icon_width + $icon_width_buffer  25 * $icon_height + $icon_height_buffer;}
.icon.heal       {background-position: 07 * $icon_width + $icon_width_buffer  22 * $icon_height + $icon_height_buffer;}
.icon.retreat    {background-position: 06 * $icon_width + $icon_width_buffer  22 * $icon_height + $icon_height_buffer;}

