// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map{
  font-family: "Lucida Console", Monaco, monospace;
  font-size:x-large;
}

.content{
  display: block;  
}

.leftPanel{
  display: inline-block;
}

.rightPanel{
  display: inline-block;
}